---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="About" description="A little about me">
  <h1 class="mb-10 text-title">About</h1>
  <article class="prose mx-auto">
    <p>
      Hi, I'm <strong>Abhinav Dinesh</strong>, a frontend engineer who loves
      building intuitive, efficient, and scalable web applications. Over the
      years, I've worked across startups, SaaS platforms, and even my own
      entrepreneurial projects, gaining a lot of hands-on experience solving
      real-world problems.
    </p>
    <p>
      Right now, I'm part of the team at <strong>Inflection.io</strong>, where I
      help create tools that make marketing automation smarter and easier. I've
      worked with a variety of tech stacks and am always curious about exploring
      new technologies and ideas.
    </p>
    <p>
      This blog is my place to jot down thoughts, share what I've learned, and
      document my journey as a developer. It's a mix of coding experiments,
      lessons learned, and personal reflections—basically, a peek into how I
      approach building software.
    </p>
    <p>
      <img src="/hero.jpg" alt="Hero Image" />
    </p>
    <p>
      Outside of coding, I'm probably listening to some classic rock or indie
      music, getting lost in a good self-help book, or planning my next trip. I
      also geek out over productivity tools like <strong>Obsidian</strong> and <strong
        >Dynalist</strong
      >, which keep my ideas and projects organized.
    </p>
    <p>
      Thanks for stopping by—feel free to explore, and don't hesitate to reach
      out at <a href="mailto:abhinavdinesh@live.com" class="text-blue-500"
        >abhinavdinesh@live.com</a
      > if something here sparks your interest!
    </p>
  </article>
</BaseLayout>
