---
import BaseLayout from '@/layouts/BaseLayout.astro'
---

<BaseLayout title="About" description="A little about me">
  <h1 class="mb-10 text-title">About</h1>
  <article class="prose mx-auto">
    <p>
      Hey there! I'm <strong>Abhinav Dinesh</strong>, a frontend engineer
      passionate about crafting elegant, efficient, and scalable user
      interfaces. My journey in tech has taken me through startups, SaaS
      platforms, and entrepreneurial ventures, giving me a wide lens on solving
      problems and building impactful software.
    </p>
    <p>
      Currently, I'm at <strong>Inflection.io</strong>, developing core tools
      for marketing automation and helping teams work smarter. Over the years,
      I've worked with some amazing tech stacks and I'm always exploring new
      frontiers.
    </p>
    <p>
      This blog is where I document my experiments with code, share what I
      learn, and reflect on my experiences as a developer. It's my space to
      write, tinker, and grow—and hopefully inspire others to do the same.
    </p>
    <p>
      <img width="640" height="360" src="/hero.jpg" alt="Hero Image" />
    </p>
    <p>
      When I'm not immersed in code, you'll find me with headphones on, diving
      into classic rock or indie gems, or flipping through self-help books on my
      Kindle. Or maybe I'm busy researching my next travel destination. I also
      enjoy exploring productivity hacks and using tools like <strong
        >Obsidian</strong
      > and <strong>Dynalist</strong> to stay on top of things.
    </p>
    <p>
      Feel free to explore, reach out, or drop me a message at
      <a href="mailto:abhinavdinesh@live.com" class="text-blue-500"
        >abhinavdinesh@live.com</a
      >. Let's connect, collaborate, or just chat about all things code and
      creativity!
    </p>
  </article>
</BaseLayout>
