---
import BaseLayout from '@/layouts/BaseLayout.astro'
import siteConfig from '@/site-config'
---

<BaseLayout description={siteConfig.description}>
  <article class="prose">
    <h1 class="text-title">
      My Experiments with <span class="line-through">Truth</span> Code
    </h1>
    <p>
      Welcome to my blog—a little corner of the web where I share what I'm
      learning, working on, and occasionally figuring out as a developer.
    </p>
    <p>
      Think of this as part technical journal, part thought dump. It's where I
      document the challenges I tackle, the lessons I pick up along the way, and
      the breakthroughs (big or small) that keep me excited about coding.
    </p>
    <p>
      Whether you're here to pick up a new idea, find a relatable story, or just
      see how someone else approaches development, I hope you leave with
      something useful. Thanks for stopping by!
    </p>

    <hr class="hr-line" />
    <p>Find me on</p>
    <p class="flex gap-x-4 gap-y-2 flex-wrap">
      {
        siteConfig.socialLinks.map((link) => (
          <a
            aria-label={link.text}
            href={link.href}
            target="_blank"
            class="prose-link"
          >
            <i class:list={[link.icon]} />
            {link.text}
          </a>
        ))
      }
    </p>
  </article>
</BaseLayout>
